<!DOCTYPE html>
<html>
  <head>
    <title>Vite ⚡️ Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>

    <link rel="icon" type="image/png" href="<%= vite_asset_path('images/logo.png') %>">

    <%= vite_stylesheet_tag 'styles.scss' %>
    <%= vite_typescript_tag 'application', 'data-turbo-track': 'reload', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= vite_legacy_typescript_tag 'application' %>
  </body>
</html>
