<!DOCTYPE html>
<html>
<head>
  <title>Administrator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%= vite_javascript_tag 'application', media: 'all' %>
</head>
<body>
<%= yield %>
</body>
</html>
