<!DOCTYPE html>
<html>
  <head>
    <title>Vite ⚡️ Rails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>

    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'colored' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
